<!DOCTYPE html>
<html lang="en">
<head>
    <link href="interests.component.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C^2</title>
</head>
<body class="container">
    <header class="main-header">
        <a href="/" class="brand-logo">
            <img src="/assets/Logo.png" alt="image">
        </a>
    </header>

    
    <h1>Let's find your interests!</h1>
  
    <!-- Create Form -->
    <form id="form">
 
        <!-- Details -->
        <div class="form-control">
            <label>
                Select one that is most intriguing
            </label>
 
            <!-- Input Type Radio Button -->
            <label for="recommed-1">
                <input type="radio"
                       id="recommed-1"
                       name="recommend">Networking
            </label>
            <label for="recommed-2">
                <input type="radio"
                       id="recommed-2"
                       name="recommend">Art
            </label>
            <label for="recommed-2">
                <input type="radio"
                       id="recommed-2"
                       name="recommend">Food and Health
            </label>
            <label for="recommed-2">
                <input type="radio"
                       id="recommed-2"
                       name="recommend">Chemical and Manufacturing
            </label>
        </div>
  
        <div class="form-control">
            <label>
                What is your highest degree of study?
            </label>
 
            <!-- Input Type Radio Button -->
            <label for="recommed-1">
                <input type="radio"
                       id="recommed-1"
                       name="recommend1">Bachelors
            </label>
            <label for="recommed-2">
                <input type="radio"
                       id="recommed-2"
                       name="recommend1">Masters
            </label>
            <label for="recommed-2">
                <input type="radio"
                       id="recommed-2"
                       name="recommend1">Other
            </label>
        </div>
  
        <div class="form-control">
            <label>
                Do you have any prior work experience?
            </label>
 
            <!-- Input Type Radio Button -->
            <label for="recommed-1">
                <input type="radio"
                       id="recommed-1"
                       name="recommend2">Yes
            </label>
            <label for="recommed-2">
                <input type="radio"
                       id="recommed-2"
                       name="recommend2">No
            </label>
        </div>
  
        <div class="form-control">
            <label for="role" id="label-role">
                Which option best describes you?
            </label>
             
            <!-- Dropdown options -->
            <select name="role" id="role">
                <option value="student">Student</option>
                <option value="intern">Intern</option>
                <option value="professional">
                    Professional
                </option>
                <option value="other">Other</option>
            </select>
        </div>
  
        <div class="form-control">
            <label>
                Does coding and analysis interest you?
            </label>
 
            <!-- Input Type Radio Button -->
            <label for="recommed-1">
                <input type="radio"
                       id="recommed-1"
                       name="recommed">Yes
            </label>
            <label for="recommed-2">
                <input type="radio"
                       id="recommed-2"
                       name="recommed">No
            </label>
        </div>
  
        <div class="form-control">
            <label>Languages and Frameworks known
                
            </label>
            <!-- Input Type Checkbox -->
 
            <!-- multi-line text input control -->
            <textarea name="comment" id="comment"
                placeholder="Enter your comment here">
            </textarea>
        </div>
  
        <!-- Multi-line Text Input Control -->
        <button type="submit" value="submit">
            Submit
        </button>
    </form>