<!DOCTYPE html>
<html lang="en">
<head>
    <link href="home.component.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C^2</title>
</head>
<body class="container">
    <header class="main-header">
        <a href="/" class="brand-logo">
            <img src="/assets/Logo.png" alt="image">
        </a>
    <nav class="main-nav">
        <ul>
            <li>
                <a [routerLink]="['/signin']">Sign in</a>
            </li>
        </ul>
    </nav>
</header>
<section class="home-main-section">
<div class="call-to-action">
    <h1 class="title">SKY ROCKET YOUR CAREER WITH US!</h1>
    <span class="subtitle">Your key to industry expertise with just your resume</span>
    <!-- <div>
        <input onclick="click()" type="radio" id="r1" name="r1" value="r1"
               >
        <label for="huey">Click here for exploring your interests</label>
      </div>

      <div style="margin-top: 10px;">
        <input type="radio" id="r2" name="r1" value="r2" 
               >
        <label for="huey">Click here to analyze resume</label>
      </div> -->
    <button style="margin-top: 30px;" type="button" class="btn btn-primary" [routerLink]="['/signup']">Sign Up</button >
    </div>
</section>
</body>
</html>
